@font-face {
    font-family: 'Sho-CardCapsNF';
    src: url('fonts/Sho-CardCapsNF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: Sho-CardCapsNF;
	color: #CCFFFF;
	/* background: url("images/JingleBells_game_background.jpg"); */
    text-shadow: 5px 5px 4px #000;
}

img#chipsLeft, img#chipsCenter1, img#chipsCenter2, img#chipsRight,
img#chipsFarLeft, img#chipsCenter3, img#chipsCenter4, img#chipsFarRight {
    opacity: 0;
	position:absolute;
}

input {
    box-shadow: 6px 6px 4px #000000;
}
#displayLeft, #displayCenter, #displayRight {
	border: 2px solid;
    border-radius: 10px;
	width: 187px;
	height: 262px;
    box-shadow: 10px 10px 10px #000000;
}

#chipsLeft, #chipsCenter1, #chipsCenter2, #chipsRight,
#chipsFarLeft, #chipsCenter3, #chipsCenter4, #chipsFarRight {
	width: 175px;
	height: 148px;
}
img#chipsFarLeft {
	top:410px;
	left:180px;
}
img#chipsCenter1 {
	top:450px;
	left:320px;
}
img#chipsLeft {
	top:560px;
	left:260px;
}
img#chipsCenter2 {
	top:520px;
	left:440px;
}
img#chipsCenter3 {
	top:430px;
	left:600px;
}
img#chipsCenter4 {
	top:580px;
	left:610px;
}
img#chipsRight {
	top:460px;
	left:800px;
}
img#chipsFarRight {
	top:580px;
	left:800px;
}

#player1 {
	position: relative;
	float: left;
	margin-top: 5px;
	width: 20%;
	height: 200px;
	margin-bottom: 5px;
	text-align: center;
	font-size: 64px;
}
#player2 {
	position: relative;
	float: right;
	margin-top: 5px;
	width: 20%;
	height: 200px;
	margin-bottom: 5px;
	text-align: center;
	font-size: 64px;
}
#player1 span, #player2 span{
    text-decoration: underline;
}
.inactivePlayer {
    /* grey out inactive player by adding class */
    opacity: 0.5;
    color: white;
    text-decoration: none;
}
